@import "base";
@import "data-set-selector";
@import "memory-game";

.container {
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    background-color: #EEEEEE;
    margin: 20px;
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
    color: #b00;
}
